<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
	 "http://www.w3.org/TR/html4/strict.dtd">

<html>

<head>

	<meta http-equiv="content-type" content="text/html;charset=utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no">

	<script type="text/javascript" src="statics/assets/jquery-3.4.1.js"></script>

	<link rel="stylesheet" type="text/css" href="include/importerapp.css">
	<link rel="stylesheet" type="text/css" href="include/floatingdialog.css">

	<script type="text/javascript" src="jsmodeler/three.min.js"></script>
	<script type="text/javascript" src="jsmodeler/jsmodeler.js"></script>
	<script type="text/javascript" src="jsmodeler/jsmodeler.ext.three.js"></script>

	<script type="text/javascript" src="include/floatingdialog.js"></script>
	<script type="text/javascript" src="include/importerviewer.js"></script>
	<script type="text/javascript" src="include/importermenu.js"></script>
	<script type="text/javascript" src="include/importerapp.js"></script>
	
	<!-- ExtensionIncludes -->
	<script type="text/javascript" src="extensions/example/example.js"></script>
	<!-- ExtensionIncludesEnd -->

	<title>Online 3D Viewer</title>

</head>

<body>
	<div id="top">
	</div>
	<div id="left">
		<div id="menu"></div>
	</div>
	<canvas id="modelcanvas" width="0" height="0"></canvas>
	<input type="file" id="file" style="display:none" multiple></input>
</body>

</html>