<!DOCTYPE html>
<html>
<head>
  <title>TripDesigner</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
  <link rel="stylesheet" type="text/css" href="../statics/main.css">
  <link rel="stylesheet" type="text/css" href="../statics/landing.css">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700|Open+Sans:400,600|Raleway:400,600,700" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="module"
          src="https://unpkg.com/@google/model-viewer/dist/model-viewer.js">
  </script>
  <script src="js/three.min.js"></script>
  <script src="js/three-obj-loader.min.js"></script>
  <script src="js/model-element.min.js"></script>
  <!-- Loads <model-viewer> for old browsers like IE11: -->
  <script nomodule
          src="https://unpkg.com/@google/model-viewer/dist/model-viewer-legacy.js">
  </script>
</head>
<body>
<!-- header ends -->
<nav class="navbar navbar-default" style="width: 100%; background-color: rgba(0, 0, 0, 0.05); border-radius:0">
  <div class="container-fluid" style="margin: 0 20px">
    <div class="navbar-header" >
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-nav-demo" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand brand" href="landing.html"><span style="color:rgb(145, 181, 77);">3</span>d <span style="color:rgb(145, 181, 77);">R</span>econstruction</a >
    </div>
    <div class="collapse navbar-collapse" id="bs-nav-demo">
      <ul class="nav navbar-nav navbar-right" >
        <li><a href="about.html">About</a></li>
      </ul>
    </div>
  </div>
</nav>



<div class="container" style="height: 550px">
  <!-- <div id="landing"> -->
  <div id="landing-header">
    <h1>Welcome to <span style="color:rgb(145, 181, 77);">3</span>D <span style="color:rgb(145, 181, 77);">R</span>oom <span style="color:rgb(145, 181, 77);">R</span>econstruction !</h1>
    <h3>Reconstruct 3D room images from video powered by opendronemap package.</h3>
  </div>

  <!-- <div class="container">  -->
  <!--  <ul class="slideshow">
    <x-model class="model" src="~/Desktop/odm_texturing/odm_textured_model.obj"></x-model>

    <script src="js/three.min.js"></script>
    <script src="js/three-obj-loader.min.js"></script>
    <script src="js/model-element.min.js"></script>
  </ul> -->

  <div class="slideshow">
    <!-- <x-model class="model" src="~/Desktop/odm_texturing/odm_textured_model.obj"></x-model>

    <script src="js/three.min.js"></script>
    <script src="js/three-obj-loader.min.js"></script>
    <script src="js/model-element.min.js"></script> -->

    <canvas id="scene"></canvas>

    <!-- <img src="static/data/demo.gif"></img> -->
  </div>
</div>



